* {
margin: 0px;
padding: 0px;
}

h1 {
font: bold 20px verdana, sans-serif;
} h2 {
font: bold 14px verdana, sans-serif;
}

/*para asegurarnos de que serán tratados como regularmente
se hace con elementos <div> y de este modo construir
el modelo de caja*/
section, footer, aside, article, figure, figcaption,
hgroup{
display: block;
border-radius: 50px;
}
/*Centrando el cuerpo*/
header{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}


body {
text-align: center;
/*background-image: url("paper.gif");*/
/*background-color: lightblue;*/
}
/*Definiendo las propiedades de la caja principal*/
#agrupar {
width: 960px;
margin: 15px auto;
text-align: left;
overflow: hidden;
}
/* Agregando estilos para <header>.*/
#cabecera {
background: #F8EFE4;
border: 2px solid #FAD02C;
padding: 20px;
}

/*Agregando estilos para <nav>.*/
/*#menu {
background: #F8EFE4;
padding: 5px 15px;
border: 2px solid#FAD02C;
text-align: center;
}
#menu li {
display: inline-block;
list-style: none; /*list-style: square inside url("sqpurple.gif");*/
/*padding: 5px;
font: bold 14px verdana, sans-serif;
}
/*Section y aside*/
/*La propiedad flotante especifica cómo debe flotar un elemento.
Nota: ¡Los elementos absolutamente posicionados ignoran
la propiedad de flotación!
Nota: los elementos después de un elemento flotante fluirán a su alrededor.
Para evitar esto, use la propiedad clear o el clearfix hack
*/
#seccion {
float: right;
width: 660px;
margin: 20px;
}

#columna {
float: left;
width: 220px;
height: 2765px;
margin: 20px 0px;
padding: 18px;
background: #F8EFE4;
border: 2px solid #FAD02C;
}

a:hover, img:hover{
  background-color: #FAD02C;
}

/*Footer*/
#pie {
clear: both;/* No permita elementos flotantes en el lado izquierdo
                o derecho de un elemento <p> especificado:*/
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}
/*imagenes*/
#imagen{
  width: 20%;
  height: 20%;
}

#imagen2{
  width: 15%;
  height: 10%;
}

/*Agregando los últimos toques a nuestro diseño básico.*/
article {
background: #F8EFE4;
border: 2px solid #FAD02C;
padding: 20px;
margin-bottom: 15px;
}

#yo1{
  width: 187.5px;
}

article footer {
text-align: right;
}

img{
  width: 30%;
  height: 35%;
  border-radius: 30%;
}

time {
color: #767575;
}

figcaption {
font: italic 14px verdana, sans-serif;
}

#fc, #ig{
  width: 75px;
  height: 75px;
  border-radius: 45%;
}

#fc:hover{
  background-color: #2cdefa;
}

#ig:hover{
  background-color: #c62cfa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1d1c43;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(1, 1, 1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid #FAD02C
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #eb9696}

.dropdown:hover .dropdown-content {
  display: block;
}
